/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* font-family: 'Cabin', sans-serif; */
/* font-family: 'Modak', cursive; */
:root{
    --cabin-font:'Cabin', sans-serif;
    --modak-font:'Modak', cursive;
    --acme-font: 'Acme', sans-serif;
    --dark-color: hsl(120, 4%, 16%);
    --grey-color: hsl(198, 14%, 38%);
    --skyblue-color: hsl(211, 86%, 78%);
    --light-blue-color: hsl(211, 100%, 83%);
    --white-color: hsl(231, 100%, 97%);
}
body{
    font-family: var(--cabin-font);
    background: linear-gradient(var(--skyblue-color), var(--white-color));
    overflow: hidden;
}

.svg1{
    top: 85%;
    left: 81%;
    transform: scale(3) rotate(-6deg);
    position: absolute;
    z-index: -1;
    height: 700px;
    width: 700px;
}

.svg2{
    transform: scale(3) rotate(111deg);
    position: absolute;
    z-index: -1;
    height: 700px;
    width: 700px;
    top: 31%;
    left: -67%;
}

h2{
    font-size: 3rem;
    font-family: var(--modak-font);
    -webkit-text-stroke: 0.3px black;
}

h3{
    font-size: 1.5rem;
    font-family: var(--acme-font);
}

h4{
    font-family: var(--acme-font);
    font-size: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--dark-color);
    color: var(--white-color);
}

main{
    display: flex;
    justify-content: center;
    height: 45rem;
    overflow: scroll;
}

.login-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: grey;
    padding: 3rem;
    border-radius: 2rem;
}

.task-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: var(--grey-color);
    padding: 2rem;
    border-radius: 2rem;
}


.new-task-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: grey;
    padding: 3rem;
    border-radius: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding:10px;
}

.hide-button{  
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    padding: 2px 5px; 
    background-color: black;
    border: none;
    color: white;
}
input{
    margin: 5px;
}

form > button{
    margin: 5px;
}

.form-card{
    width: 25rem;
}

section{
    margin-top: 10px;
    width: 80%;
    
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


li{
    display: flex;
    flex-direction: column;
    /* padding: 0 1rem 1rem; */
    margin: 1rem;
    width: 13rem;
    border: 3px solid var(--dark-color);
    border-radius: 1rem;
    background-color: var(--white-color);

}

li > h4{
    background-color: var(--dark-color);
    color: white;
    text-align: center;
    border-radius: 0.5rem 1rem 0rem 0rem;
    border-right: 60px solid var(--dark-color);
    margin-bottom: 5px;
    padding:5px;
}

li > h3{
    text-align: center;
    margin-bottom: 7px;
} 

li > p{
    background-color: var(--dark-color);
    text-align: center;
    font-size: 14px;
    padding:5px;
    color: white;
    border-radius: 0rem 0rem 0.5rem 1rem;
}

li:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

.add-task-button{
    position: absolute;
    z-index: 2;
    top: 13%;
    left: 2%;
    padding: 8px 12px;
}

.hidden{ 
    display: none;
}


